@import 'variables';

body {
    font-family: $font-family-base;
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: $v-spacer;
    line-height: 1.2;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
}

hr {
    max-width: 100px;
    margin: 0;
    margin-bottom: $v-spacer;
    border-bottom-width: 4px;
    border-style: solid;
    border-color: $primary;
}

// General
.heading-emphasis {
    color: $primary;
    font-style: italic;
}

ul.no-style {
    padding: 0;
    list-style: none;
    margin: 0;
}

// Standard elements
.container {
    display: grid;
    grid-template-columns: $h-spacer auto $h-spacer;
    grid-template-rows: $v-spacer auto $v-spacer;
    grid-gap: 1rem;

    @media (min-width: 900px) {
        grid-template-columns: auto $h-spacer 300px 300px 300px $h-spacer auto;
        grid-template-rows: $v-spacer $offset auto $offset $v-spacer;
    }
}

// Header
.header-inner {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;

    @media (min-width: 900px) {
        grid-column: 3 / span 2;
        grid-row: 3 / span 1;
    }
}

.header-social {
    a {
        font-size: 2.5rem;
    }

    .github {
        margin-right: 1rem;
    }
}

// Skills
.skills--heading {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
}

.skills--description {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
}

.skills--lists {
    grid-row: 3 / span 1;
    grid-column: 4 / span 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .list-block {
        padding: 1rem;
        background: $secondary;
        color: white;
        flex: 1 1 200px;

        h4 {
            text-transform: uppercase;
            padding-top: 1rem;
            margin-top: 1rem;
            border-top: 4px solid $primary;
        }

        ul {
            li {
                font-size: 0.9rem;
                color: $grey;
                margin-bottom: 0.5rem;
            }
        }
    }
}

// Work
.work--heading {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    z-index: 20;
}

.work--lists {
    grid-row: 2 / span 2;
    grid-column: 2 / span 5;
    background: $light-grey;
    padding: 4rem 2rem;
}

.list-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.project-figure {
    margin: 0;
    flex: 1 1 500px;
    padding-right: 2rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project-body {
    flex: 1 1 400px;

    li {
        margin-bottom: 0.5rem;
        font-size: 0.95rem;
    }
}