@import 'variables';

body {
    font-family: $font-family-base;
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;

    &.slide-up {
        display: inline-block;
        padding: 0.25em;
        line-height: 1;
        background-image: linear-gradient(to top, $primary 50%, transparent 50%);
        background-size: 200% 200%;
        background-position: 0% 10%;
        transition: all 0.3s;
    
        &:hover {
            color: white;
            background-position: 0% 100%;
        }
    }
}

p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;

    @media (min-width: $lg-breakpoint) {
        font-size: 6rem;
    }
}

h2 {
    font-size: 3rem;

    @media (min-width: $lg-breakpoint) {
        font-size: 5rem;
    }
}

h3 {
    font-size: 1.5rem;
}

hr {
    max-width: 100px;
    margin: 0;
    margin-bottom: $v-spacer;
    border-bottom: $border-style;
}

figure {
    margin: 0;
}

// General
.heading-emphasis {
    color: $accent;
    font-style: italic;
}

ul.no-style {
    padding: 0;
    list-style: none;
    margin: 0;
}

// Standard elements
.container {
    display: grid;
    grid-template-columns: $h-spacer auto $h-spacer;
    grid-auto-rows: minmax($v-spacer, auto);
    margin-bottom: 4rem;

    @media (min-width: $lg-breakpoint) {
        grid-template-columns: auto $h-spacer 300px 300px 300px $h-spacer auto;
        grid-template-rows: $v-spacer $offset auto $offset $v-spacer;
        grid-gap: 1rem;
    }
}

.footnote {
    color: $dark;
    font-size: 0.9rem;
    text-align: center;
}

// Header
.header-details {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;

    @media (min-width: $lg-breakpoint) {
        grid-column: 3 / span 2;
        grid-row: 3 / span 1;
    }
}

.header-social {
    a {
        font-size: 2.5rem;
        background-position: 0% 0%;
    }

    .github {
        margin-right: 1rem;
    }
}

.header-profile {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;

    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }

    @media (min-width: $lg-breakpoint) {
        grid-column: 5 / span 1;
        grid-row: 3 / span 1;
    }
}

// Skills
.skills--heading {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @media (min-width: $lg-breakpoint) {
        grid-row: 1 / span 2;
        grid-column: 3 / span 1;
    }
}

.skills--description {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    @media (min-width: $lg-breakpoint) {
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
    }
}

.skills--lists {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;

    @media (min-width: $lg-breakpoint) {
        grid-row: 3 / span 1;
        grid-column: 4 / span 2;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .list-block {
        padding: 1rem;
        background: $secondary;
        color: white;
        flex: 1 1 200px;

        h4 {
            text-transform: uppercase;
            padding-top: 1rem;
            margin-top: 1rem;
            border-top: $border-style;
        }

        ul {
            li {
                font-size: 0.9rem;
                color: $grey;
                margin-bottom: 0.5rem;
            }
        }
    }
}

// Work
.work--heading {
    z-index: 20;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    @media (min-width: $lg-breakpoint) {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }
}

.work--lists {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    background: $light-grey;
    padding: 2rem 1rem;

    @media (min-width: $lg-breakpoint) {
        grid-row: 2 / span 2;
        grid-column: 2 / span 5;
        padding: 4rem 2rem;
    }
}

.list-project {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 4rem;

    @media (min-width: $lg-breakpoint) {
        flex-direction: row;
        align-items: center;
    }
}

.project-figure,
.project-body {
    flex: 1 1 100%;

    @media (min-width: $lg-breakpoint) {
        flex: 1 1 350px;
        max-width: 50%;
    }
}

.project-figure {
    padding-bottom: 1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: $lg-breakpoint) {
        padding-right: 2rem;
        padding-bottom: 0;
    }
}

.project-body {
    ul {
        margin-bottom: 1.5rem;
    }

    li {
        margin-bottom: 0.5rem;
        font-size: 0.95rem;
    }
}

.project-link {
    font-size: 1.2rem;
    font-weight: bold;
}

// Contact
.contact--heading {
    color: $accent;
    z-index: 20;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    @media (min-width: $lg-breakpoint) {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }
}

.contact--description {
    padding: 2rem 1rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    color: white;
    background: $secondary;

    @media (min-width: $lg-breakpoint) {
        grid-row: 2 / span 2;
        grid-column: 2 / span 5;
        padding: 4rem 2rem;
    }

    a {
        font-weight: bold;
        color: $accent;

        &:hover, &focus {
            color: lighten($accent, 10%);
        }
    }
}

.contact--form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input[type="text"], 
    input[type="email"], 
    textarea {
        flex: 1 1 300px;
        padding: 10px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }

    textarea {
        flex-basis: 100%;
    }

    input[type="submit"] {
        padding: 0.5rem 2rem;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        background: $accent;
        color: white;
    }
}

// Footer 
.lkh-footer {
    color: $primary;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}