$font-family-base: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Spacing
$h-spacer: 1rem;
$v-spacer: 2rem;
$offset: 20px;

// Colors
$primary: #29648a;
$secondary: #1f2832;
$grey: #aaabb8;
$dark: #464866;
$accent: #2e9cca;
$light-grey: #f0f0f0;

// Components
$border-style: 4px solid $primary;