$font-family-base: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Spacing
$h-spacer: 20px;
$v-spacer: 60px;
$offset: 20px;

// Colors
$primary: #2e9cca;
$secondary: #25274d;
$grey: #aaabb8;
$dark: #464866;
$accent: #29648a;